name: Deploy Application

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: PHASE3  # Important: specify your environment name
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Build and run Docker container
        env:
          FLASK_ENV: ${{ secrets.FLASK_ENV }}
          FLASK_SECRET_KEY: ${{ secrets.FLASK_SECRET_KEY }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
        run: |
          docker-compose up -d